* {
  font-size: inherit;
  font-family: Segoe UI, Roboto, Droid Sans, Verdana, Tahoma, Serif;
}
/* Using theme from: https://color.adobe.com/Neutral-Blue-color-theme-22361/ */

body{
	background-color: #FCFFF5;
}