* {
  font-size: inherit;
  font-family: Segoe UI, Roboto, Droid Sans, Verdana, Tahoma, Serif;
}

body{
	background-color: #FCFFF5;
}

.error{
  style="color:red;"
}

#password, #login{
  border: 1px solid #333333;
  padding: 2px;
  margine: 4px;
}
